  
h1 {
    font-family:Georgia, serif;	
    color:orange;
    text-align:center;
    font-size:50px;
}
h2 {
    font-family:Georgia, serif;	
    color:darkblue;
    text-align:center;
    font-size:30px;
}
p {
    font-family:Georgia, serif;	
    font-size:20px;
}
body {
    background-color: lightyellow;
}

img{
    border-radius: 60%;
}
figcaption{
    color:green;
    font-size:25px;
    text-align:center;
}
.caption{
    color:green;
    font-size:25px;
    text-align:center;
}